# ==========
# Regras globais
# ==========
* text=auto

# ==========
# Forçar LF (Unix) para arquivos de código
# ==========
*.java      text eol=lf
*.xml       text eol=lf
*.properties text eol=lf
*.gradle    text eol=lf

*.js        text eol=lf
*.ts        text eol=lf
*.svelte    text eol=lf
*.css       text eol=lf
*.html      text eol=lf
*.json      text eol=lf
*.md        text eol=lf
*.yml       text eol=lf
*.yaml      text eol=lf

# ==========
# Arquivos binários (não alterar EOL)
# ==========
*.png       binary
*.jpg       binary
*.jpeg      binary
*.gif       binary
*.ico       binary
*.pdf       binary
*.jar       binary
*.exe       binary
*.dll       binary
*.class     binary


/mvnw text eol=lf
*.cmd text eol=crlf
* text=auto eol=lf

